body {
  margin: 0;
}

header {
  background-color: #ffe524;
  padding: 0em 1em 0.5em 1em;
  border: 2px solid #ffe524;
}

img {
  width: 100%;
}

html{
  background-color: #ffffff;
  font-family: Times, serif;
  line-height: 1.5;
}

nav {
  text-align: center
}

nav ul {
  padding: 0.5em 0em 0.5em 0em;
  list-style-type: none;
  display: inline;
}

nav a {
  display: inline-block;
  padding: 0.25em 0.5em;
  background-color: #b2a215;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

nav li {
  display: inline;
}

h1 {
  color: #b32f52;
  font-size: 2rem;
  font-family: 'Sigmar One', cursive;
  text-align: center;
}

h2 {
  color:#b32f52;
  font-size: 1.5rem;
  font-family: 'Sigmar One', cursive;
  padding: 0 0 0 0.75rem;
  border-top: 3px solid #ffe524
}

h3 {
  color:#b32f52;
  font-family: 'Sigmar One', cursive;
  padding: 0 0 0 0.75rem;
}

a {
    color: #703838;
    padding: 0;
  }

a:hover {
    background-color: #cc3865;
  }

blockquote {
  color: #b2a215;
  text-align: center;
}

cite {
  text-align: center;
}

img {
  width: 100%;
}

.quote {
  font size: 2em;
}

figure {
  border: 2px solid #c5b844;
  border-radius: 5px;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  background-color: #fffce0;
}

figcaption {
  text-align: center;
}

dt {
  font-weight: bold;
  padding: 0 0 0 0.75rem;}

dd {
  text align: left;
  }

p {
  padding: 0 0 0 0.75rem;
}

footer {
  background-color: #ffe524;
  color: black;
  text-align: center;
  padding: 1rem 0 1rem 0;
  }

blockquote cite {
  color:#b2a215;
  text-align: center;
}
